body {
    background-color: #000;
    color: #0f0;
    font-family: 'VT323', monospace;
    text-align: center;
    padding: 0;
    margin: 0;
}

/* style.css */

/* Gaya untuk waktu hitung mundur */
#countdown {
  position: absolute;
  top: 665px;
  right: 445px;  
  background-color: #000; /* Warna latar belakang hitam */
  color: #0f0; /* Warna teks hijau */
  font-family: 'Courier New', monospace; /* Jenis font mirip dengan terminal */
  font-size: 24px;
  padding: 10px 50px;
  border: 2px solid #0f0; /* Garis tepi hijau */
  border-radius: 5px;
  text-align: center;
}

#countdown div {
  display: inline-block;
  text-align: center;
  margin: 0 10px;
}

#countdown div span {
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 3px; /* Ruang antar karakter untuk efek terminal */
}
  
#teks-khusus {
    /* Gaya CSS untuk elemen dengan ID "teks-khusus" */
    position: absolute;
    top: 600px;
    right: 490px;
    font-size: 24px;
    color: #0f0;
    font-weight: bold;
  }
  
  

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000;
    padding: 50px 20px;
    border: 1px solid #0f0;
    border-radius: 5px;
    width: 600px;
}

.hacker-text {
    position: relative;
    top: 0px;
    font-size: 24px;
    color: #0f0;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.btn {
    flex: 1;
    margin-right: 10px;
    background-color: #08011d;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #ff6666; /* Warna tombol saat dihover */
}
.button-container {
    display: flex; /* Mengaktifkan tampilan flex untuk elemen container tombol */
    justify-content: space-between; /* Mengatur jarak yang sama antara tombol-tombol */
}

.btn {
    flex: 1; /* Mengatur agar kedua tombol membagi lebar container secara merata */
}

.additional-btn {
    position: absolute;
    margin-right: 10px;
    background-color: #08011d;
    color: #fff;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 240px;
    left: 265px;
    margin-top: -2px;
    transition: background-color 0.3s;
}

.additional-text {
    margin-top: 40px; /* Ubah jarak sesuai kebutuhan Anda */
}


.donate-btn {
    position: absolute; /* Mengatur posisi tombol donasi sebagai absolut */
    top: -10px; /* Jarak dari atas */
    right: 5px; /* Jarak dari kanan */
    background-color: #ff0000;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    cursor: pointer;
}

.donate-btn:hover {
    background-color: #76fd9f; /* Warna tombol saat dihover */
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000;
    color: #0f0;
    padding: 20px;
    border: 1px solid #0f0;
    border-radius: 5px;
    z-index: 999;
    display: none;
}

.popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #0f0;
    cursor: pointer;
}

.popup h2 {
    font-size: 24px;
}

.popup p {
    font-size: 18px;
    margin-top: 10px;
}

.popup-close:hover {
    color: #f00;
}

.popup-buttons {
    position: relative;
    text-align: center; /* Mengatur teks tombol menjadi tengah */
    margin-top: 20px; /* Jarak dari gambar ke tombol */
    display: flex; /* Mengaktifkan tampilan flex untuk elemen container tombol */
    justify-content: space-between; /* Mengatur jarak yang sama antara tombol-tombol */
}

.popup-buttons .btn:first-child {
    margin: 30px; /* Jarak antara tombol */
    background-color: #720808; /* Warna oranye */
    color: #fff; /* Warna teks putih */
    flex: 1px;
}
.popup-buttons .btn:first-child:hover {
    background-color: #ff6666; /* Warna tombol saat dihover */
}

.popup-buttons .btn:nth-child(2) {
    margin: 30px; /* Jarak antara tombol */
    background-color: #720808; /* Warna oranye */
    color: #fff; /* Warna teks putih */
    flex: 1px;
}
.popup-buttons .btn:nth-child(2):hover {
    background-color: #ff6666; /* Warna tombol saat dihover */
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.donate-btn {
    animation: blink 1s infinite; /* Animasi berlangsung selamanya (infinite) */
}
